* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

img {
    width: 20px;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/imgs/back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

h1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #00f7ff;
    padding: 20px;
    font-size: 2.2rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .6);
}

.clip {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rebeccapurple;
    bottom: 20%;
    right: 5%;
    filter: blur(100px);
    clip-path: circle(80px at 50% 50%);
}

img.bot {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    transition: .5s;
    animation: move 5s linear infinite;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes move {
    0%,
    100% {
        transform: scale(1.05) translateY(-5px);
    }
    50% {
        transform: scale(1) translateY(0px);
    }
}

.chatBot {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 280px;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.chatBot-container,
form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatBot-container {
    /* GLASS EFFECT  */
    background: rgba(255, 255, 255, .1);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .1);
    border: 1px solid rgba(255, 255, 255, .6);
    border-right: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.chatBot-container .close {
    width: 10px;
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 1;
}

.chatBot-container form {
    position: absolute;
    width: 90%;
    height: 100px;
    bottom: 10px;
    left: 10px;
}

.response {
    position: absolute;
    top: 22px;
    left: 15px;
    width: 90%;
    height: 50%;
    border-radius: 5px;
    padding: 5px;
    color: #0079b9;
    /* GLASS EFFECT  */
    background: rgba(255, 255, 255, .1);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .1);
    border: 1px solid rgba(255, 255, 255, .6);
    border-right: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

button {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;
}

button:hover {
    color: #fff;
    background-color: rgba(141, 9, 250, .3);
}

input,
button {
    width: 85%;
    padding: 6px;
    margin: 4px auto;
    outline: none;
    color: #0079b9;
    /* GLASS EFFECT  */
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(15px);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .1);
    border: 1px solid rgba(255, 255, 255, .6);
    border-right: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

label {
    color: #03476b;
    width: 60%;
    padding: 5px auto;
}